html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, select {
    border: 1px solid #E9E9E9;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
input[type="radio"] {
    display: none;
}
.body-bg {
    width: 100%;
    height: 100%;
    position: relative;
}
.block {
    position: relative;
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
}

.but-search {
    display: flex;
    position: relative;
    width: 90px;
    height: 40px;
    right: 0;
    align-items: center;
    justify-content: center;
    background: #353535;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.but-search:hover {
    opacity: 0.9;
}
.search-form {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 16px;
}
.but-search-text {
    font-family: TT Norms, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.month-num {
    position: relative;
    width: 220px;
    height: 30px;
    padding-left: 12px;
    background: #FFFFFF;
    background-image: url("/img/arrow-down.png");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: #353535;
}
.select--right {
    background-position: right 10px center;
    padding-right: 30px;
}
.product {
    width: 320px;
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 10px;
}
.but-month {
    position: relative;
    background: #4990E2;
    border-radius: 3px;
    padding: 10px 37px 8px 38px;
    border: none;
    font-family: TT Norms, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 40px;
}
.but-month:hover {
    opacity: 0.9;
}
.product-text {
    height: auto;
    font-family: TT Norms, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    display: flex;
    padding: 18px 30px 0 21px;
    color: #353535;
}
.month {
    padding-top: 42px;
}
.input-text {
    display: flex;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    align-items: center;
    color: #353535;
}
.font-text {
    font-family: TT Norms, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
}
.input-text:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background: #FFFFFF;
    border: 2px solid #C1C1C1;
}
.radio .input-text:before {
    border-radius: 10px;
}
input[type=radio]:checked + .input-text:before {
    content: "\2022";
    color: #4990E2;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 1px;
}
.radio {
    padding: 20px 0 0 0;
}
.label-radio {
    padding-bottom: 10px;
}
.input-search {
    position: relative;
    width: 210px;
    height: 30px;
    padding-left: 12px;
    background: #FFFFFF;
}
.block-info {
    display: flex;
    margin-left: 30px;
    width: 550px;
}
.product-info {
    font-family: TT Norms, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8C8C8C;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.product-info-text {
    line-height: 22px;
    margin: 0;
}
.bg-block-info {
    background: #F7F7F7;
    border-radius: 5px;
    padding: 20px;
}
.bg-text {
    color: #444651;
}
.bg-text-blue {
    color: #4990E2;
}
.title-table {
    line-height: 19px;
    font-weight: 500;
    padding: 0 0 40px 0;
    color: #000000;
}
.block-table {
    width: 900px;
    height: auto;
    background: #FFFFFF;
    border: 1px dashed #939DA6;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    margin: 45px 0 45px 0;
}
.table-list {
    padding: 40px 0 40px 40px;
}
.table-header {
    font-family: TT Norms, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    height: 30px;
    width: 820px;
    display: flex;
    color: #8C8C8C;
    justify-content: space-between;
    margin-bottom: 25px;
}
.table-body {
    font-family: TT Norms, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    height: auto;
    width: 820px;
    display: flex;
    color: #353535;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid #E9E9E9;
}
.first-block {
    display: flex;
}
.table-body td {
    margin-bottom: 25px;
}
.data {
    width: 100px;
}
.used {
    width: 220px;
}
.slope {
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.offset {
    width: 100px;
    display: flex;
    justify-content: space-around;
}
.user {
    width: 220px;
}
.row {
    justify-content: center;
}